@font-face {
    font-family: bannerTitle;
    src: url('../../assets/anvil-5372/Anvil-8eO2.ttf')  format('truetype');
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title{
    position: absolute;
    font-family: sectionTitle;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.651), 0 0 10px rgba(255,255,255,.5);
    font-size: 6rem;
    top:30%;
}

.subtitle{
    position: absolute;
    z-index: 5;
    font-family: sectionTitle;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    top:50%;
}