.container{
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    /* will-change: transform; */
    transition: all 1s ease-in-out;
}

.cartItemImage{
    --s: 250px;   /* the size of the image */
    --b: 8px;     /* the border thickness*/
    --g: 14px;    /* the gap */
    --c: #3b3b3b; /* the color */
    
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid rgba(22, 22, 22, 0.199);
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: .5s;
    margin: 30px 25px;
    border-radius: 5px ;
}


