@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: sectionTitle;
  src: url('../../assets/metal-vengeance-71995/MetalVengeance-0WqV9.ttf')  format('truetype');
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}

/* body {  
  background: repeating-linear-gradient(
  45deg,
  #000000,
  #272727 5%,
  #000000 5%,
  #252525 10%
);
  background-size: 100px 100px;
  animation: move-it 5s linear infinite;
} */
body {  
  background: black;
}

.title{
  font-family: sectionTitle;
  font-size: 2rem;
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFFFFF;
}

.dots{
  display: none;
}

.video{
  margin: 0 20px;
  box-shadow: 3px 7px 80px -28px rgba(255,255,255,1);
}



.banner-image{
  width: 100%;
  height: 50vh;
  margin: 10vh 0;
}
.center-video{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}


.section-title {
  text-align: center;
  font-size:30px; font-weight:300; color:#ffffff; letter-spacing:1px;
  text-transform: uppercase;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  margin: 30px 43vw;
}

.section-title::after, .section-title::before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color:#f8f8f8;
}

.gallery-container{
  margin: 70px;
}