@font-face {
  font-family: navbarFont;
  src: url('../../assets/metal-gothic-87846/MetalGothicDemoVersionRegular-WyB9A.ttf')  format('truetype');
}

.container{
  position: sticky;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 3;
}
.logo{
  width: 9vw;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 10;
  filter: invert(1);
}

.cartIcon{
  height: 40px;
  width: 40px;
  
}

.cartButton{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  background-color: black;
  padding: 5px;
}


.navMenu a {
  font-family: navbarFont;
  align-items: start;
  color: #f0e6f6;
  text-decoration: none;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(73px);
  transform: translateX(33px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(145px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(265px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.navMenu a:nth-child(3) {
 margin-left: 15px;
}
.navMenu a:nth-child(4) {
  margin-left: 35px;
 }

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(382px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(500px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
